@charset "utf-8";
/* CSS Document */
* { margin: 0; padding-right: 10px;padding-left:10px; border: 100px; font-size: 100%; }

h3{text-align: center;
font-family: 'Permanent Marker', cursive;}

h1{margin-left: 50px;}

h2{color: black;}

p{margin-left: 50px;}

.box{opacity: 0.5;
padding: 10px;}

#name{align-content: center;
	border: dashed lightblue;
	color: purple;
	background-image: url("file:///C:/Users/carte/Desktop/PRJ4-5%20REDO/-prj4-chapter-3/images/background.PNG");
	padding-bottom: 25px;
	padding-top:25px;
}

.container1 {
    color: red;
    border: 10px ridge purple;
    background-color: lightblue;
    padding: 85px;
    align-content: center;
	margin-bottom: 5px;
	margin-left: 50px;
	margin-right: 50px;
}

.container2 {
    border: 10px ridge purple;
	color: aqua;
    background-color: lightblue;
    padding: 10px;
	text-align: center;
	background-image: url("file:///C:/Users/carte/Desktop/PRJ4-5%20REDO/-prj4-chapter-3/images/background.PNG");
	margin-left: 50px;
	margin-right:50px;
}

.studentsreview{
	align-content: center;
	color: yellow;
	background-color: black;
	padding: 20px;
	margin-left: 50px;
	margin-right:50px;
}
