@charset "utf-8";
/* CSS Document */
h3{text-align: center}

h2{
	color: black;
}
#name{align-content: center;
	border: dashed lightblue;
	color: purple;
	background-color: black;
}

.container {
    color: red;
    border: 10px ridge purple;
    background-color: lightblue;
    padding: 50px;
    text-align: center;
}
.studentsreview{
	align-content: center;
	color: yellow;
	background-color: black;
	padding: 20px;
}
